body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.form-container {
    width: 300px;
    margin: 0 auto;
}

.toast {
    position: fixed;
    top: 15%; /* Center vertically at 50% of the viewport height */
    left: 50%; /* Center horizontally at 50% of the viewport width */
    transform: translate(-50%, -50%); /* Center the toast */
    right: 120px; /* Adjust the right position as needed */
    z-index: 1; /* Ensure it's on top of other content */
}

button {
    background-color: #007bff;
    color: #fff;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}